$primaryColor: #1068eb;
$primaryHoverColor: darken($primaryColor, 5);
$primaryColorDark: darken($primaryColor, 17);
$secondaryColor: rgba(0, 0, 0, 0.068);
$secondaryHoverColor: darken($secondaryColor, 5);

$backgroundColor: lighten($primaryColor, 47);

* {
    box-sizing: border-box;
}
