$primaryColor: #1068eb;
$primaryHoverColor: darken($primaryColor, 5);
$primaryColorDark: darken($primaryColor, 17);
$secondaryColor: rgba(0, 0, 0, 0.068);
$secondaryHoverColor: darken($secondaryColor, 5);
$backgroundColor: lighten($primaryColor, 47);

$textColor:#1f1f1f;

$borderRadius: 10px;
$secondaryBorderRadius: 4px;
$sectionPadding: 4rem;

body {
  font-size: 14px;
}
@media (min-width: 30rem) {
  body {
    font-size: 16px;
  }
}

* {
    box-sizing: border-box;
}
section {
  max-width: 900px;
  margin: 0 auto;
}
